.home{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    color:white;
    font-size:5rem;
    font-weight:700;
}